<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.vdab.simplelayout" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="be.vdab.simplelayout.permission.C2D_MESSAGE" />
    <uses-permission android:name="be.vdab.simplelayout.permission.C2D_MESSAGE" />



    <application
        android:name=".VDABApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.RetrofitActivity"
            android:label="@string/title_activity_retrofit"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".activities.StorageActivity"
            android:label="@string/title_activity_storage"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".activities.DatabaseActivity"
            android:label="@string/title_activity_database"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.FragmentActivity"
            android:label="@string/title_activity_fragment"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer" >
        </activity>



        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="be.vdab.simplelayout" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
